.post {
  .main {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.info {
  .date, .name {
    p{
      margin-top: 10px;
      margin-left: 15px;
    }
  }
}

h2 {
  margin-bottom: 15px;
  margin-left: 15px;
}
@media screen and (max-width: 768px) {
  .post-title {
    max-width: 640px;
    h2 {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 425px) {
 .post-title {
   max-width: 330px;
   h2 {
     font-size: 16px;
   }
 }
}

.btn {
  margin-bottom: 15px;
}
@media screen and (max-width: 425px) {
  .btn {
    max-width: 90px;
    font-size: 12px;
  }
}
