<div class="post" xmlns="http://www.w3.org/1999/html">
  <div class="header">
    <h1>
      Название поста
    </h1>

    <button class="btn btn-link"
            routerLink="/"
    >
      На главную
    </button>
  </div>

  <div class="info">
    <strong>
      Автор поста
    </strong>
    <small>
      06.11.2021
    </small>
  </div>

  <div>
    <p>
      Apple - американская корпорация, производитель персональных и планшетных компьютеров, аудиоплееров,
      смартфонов, программного обеспечения. Один из пионеров в области персональных компьютеров и современных
      многозадачных операционных систем с графическим интерфейсом. Штаб-квартира - в Купертино, штат Калифорния.
    </p>
    <p>
      Google - американская транснациональная корпорация, в составе холдинга Alphabet, инвестирующая в
      интернет-поиск, облачные вычисления и рекламные технологии. Google поддерживает и разрабатывает ряд
      интернет-сервисов и продуктов и получает прибыль в первую очередь от рекламы через свою программу Ads.
    </p>
    <p>
      Meta Platforms, Inc. - американская многонациональная холдинговая компания, владеющая технологическим
      конгломератом и расположенная в Менло-Парке, Калифорния. Она является материнской организацией Facebook,
      Instagram, WhatsApp и Oculus.
    </p>
  </div>

</div>
