<div *ngIf="post$ | async as post; else loading">
  <div class="post-wrap">
    <div class="post">
      <h1>
        {{post.title}}
      </h1>

      <div class="info">
        <small class="date">
          <p>
            {{post.date | date: 'mediumDate': undefined: 'ua'}}
          </p>
        </small>
        <strong class="name">
          <p>
            {{post.author}}
          </p>
        </strong>
      </div>

      <div>
        <quill-view-html [content]="post.text"></quill-view-html>
      </div>

      <div class="main">
        <button class="btn"
                routerLink="/"
        >
          На главную
        </button>
      </div>
    </div>
  </div>
</div>


<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
