<div *ngIf="post$ | async as post; else loading">
  <div>
    <div>
      <h1>
        {{post.title}}
      </h1>

      <button class="btn"
              routerLink="/"
      >
        На главную
      </button>

    </div>
    <div>
      <strong>
        {{post.author}}
      </strong>
      <small>
        {{post.date | date: 'mediumDate': undefined: 'ua'}}
      </small>
    </div>
    <div>
      <quill-view-html [content]="post.text"></quill-view-html>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
