.post-wrap {
  background: var(--light-color);
}
@media screen and (max-width: 768px) {
  .post-wrap {
    max-width: 500px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  .post-wrap {
    max-width: 230px;
    min-height: 160px;
  }
}

.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  min-height: 140px;
  border: 1px solid var(--light-color);
}

.title {
  max-width: 940px;
  margin: 20px 0 20px 30px;
  word-wrap: break-word;
}
@media screen and (max-width: 768px) {
  .title {
    h2 {
      max-width: 440px;
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 425px) {
  .title {
    h2 {
      max-width: 200px;
      font-size: 16px;
    }
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.info {
  margin-left: 30px;
  width: 300px;
  display: grid;
  grid-template-areas:
    'date .'
    'name .'
    'btn .';
}
@media screen and (max-width: 425px) {
  .info {
    margin-left: 73px;
  }
}

.date {
  grid-area: date;
  margin-bottom: 5px;
}

.name {
  grid-area: name;
  font-weight: 600;
  margin-bottom: 15px;
}
@media screen and (max-width: 425px) {
  .name {
    margin-bottom: 5px;
  }
}

.open {
  grid-area: btn;
  margin-right: 30px;
}
@media screen and (max-width: 425px) {
  .open {
    margin-top: 10px;
    max-width: 80px;
    font-size: 13px;
  }
}

button {
  margin-bottom: 20px;
}
