.post {
  min-height: 140px;
  border: 1px solid var(--light-color);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 20px 0 20px 30px;
}

.info {
  margin-left: 30px;
  width: 300px;
  display: grid;
  grid-template-areas:
      'date btn'
      'name btn';
}

.date {
  grid-area: date;
  margin-bottom: 5px;
}

.name {
  grid-area: name;
}

.btn {
  grid-area: btn;
  margin-right: 30px;
}
