.post-wrap {
  background: var(--light-color);
}

.post {
  min-height: 140px;
  border: 1px solid var(--light-color);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 425px) {
  .post {
    max-width: 230px;
    min-height: 160px;
  }
}

.title {
  margin: 20px 0 20px 30px;
  max-width: 190px;
  word-wrap: break-word;
}
@media screen and (max-width: 425px) {
  .title {
    font-size: 12px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.info {
  margin-left: 30px;
  width: 300px;
  display: grid;
  grid-template-areas:
    'date btn'
    'name btn';
}
@media screen and (max-width: 425px) {
  .info {
    margin-left: 73px;
    grid-template-areas:
    'date .'
    'name .'
    'btn .';
  }
}

.date {
  grid-area: date;
  margin-bottom: 5px;
}

.name {
  grid-area: name;
  font-weight: 600;
}
@media screen and (max-width: 425px) {
  .name {
    margin-bottom: 5px;
  }
}

.open {
  grid-area: btn;
  margin-right: 30px;
}
@media screen and (max-width: 425px) {
  .open {
    margin-top: 10px;
    max-width: 80px;
    font-size: 13px;
  }
}

button {
  margin-bottom: 20px;
}
