h1 {
  margin-left: 1.5rem;
  font-weight: 300;
}

button {
  margin-right: 1.5rem;
}
@media screen and (max-width: 425px) {
  button {
    max-width: 125px;
    max-height: 42px;
    font-size: 14px;
  }
}
