form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-height: 310px;
  margin: 0 auto;
  margin-top: 1.5rem;
  border: 1px solid var(--gray-color);
}
@media screen and (max-width: 425px) {
  form {
    max-width: 246px;
    min-height: 290px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media screen and (max-width: 425px) {
  h2 {
    font-size: 20px;
    font-weight: 400;
  }
}

.btn {
  margin-top: 10px;
}
