form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  min-height: 248px;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid var(--gray-color);
}
@media screen and (max-width: 425px) {
  form {
    max-width: 228px;
    min-height: 224px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0;

}
@media screen and (max-width: 425px) {
  h2 {
    font-size: 19px;
    font-weight: 400;
    margin: 10px 0 8px 0;
  }
}

.btn {
  margin-top: 10px;
}
@media screen and (max-width: 425px) {
  btn {
    margin-top: 5px;
  }
}
