<div *ngIf="postArr.length; else loading">
  <form class="form-control">
    <div class="search-panel">
      <input class="search"
             type="text"
             name="searchString"
             placeholder="Найти пост"
             [(ngModel)]="searchString"
      />
      <img src="./assets/search.png"
           alt="search"
      />
    </div>
  </form>

  <table>
    <thead>
    <tr>
      <th class="number">
        id
      </th>
      <th class="name">
        Автор
      </th>
      <th>
        Название
      </th>
      <th>
        Дата создания
      </th>
      <th>
        Действие
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let post of postArr | searchPost: searchString; let idx = index">
      <td class="number">
        {{idx + 1}}
      </td>
      <td class="name">
        {{post.author}}
      </td>
      <td class="title word-wrap">
        {{post.title}}
      </td>
      <td>
        {{post.date | date: 'medium': undefined: 'ua'}}
      </td>
      <td class="button-wrap">
        <button class="btn"
                [routerLink]="['/admin', 'post', post.id, 'edit']"
        >
          Редактировать
        </button>
        <button class="btn btn-danger"
                (click)="onRemove(post.id)"
        >
          Удалить
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
