table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

button {
  margin-right: 15px;
}
.button-wrap {
  display: flex;
}

@media screen and (max-width: 425px) {
  th {
    max-width: 70px;
    font-size: 12px;
  }
  td {
    max-width: 70px;
    font-size: 11px;
  }
  .number {
    max-width: 10px;
  }
  .name {
    max-width: 60px;
  }
  .button-wrap {
    flex-direction: column;
    max-width: 140px;
    .btn {
      margin-bottom: 5px;
      font-size: 12px;
    }
  }
}
