@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

:root {
  --danger-color: #ff4500;
  --warning-color: #ffff00;
  --success-color: #28a745;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --gray-color: #dcdcdc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: var(--danger-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  margin-bottom: 20px;
}

.container {
  max-width: 1439px;
  margin: 0 auto;
  overflow: hidden;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-color);
  color: var(--light-color);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &:disabled {
    background: var(--light-color);
    color: #111;
    cursor: not-allowed;
  }
}

.btn-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success {
  background: var(--success-color);
  color: #fff;
}

@media screen and (max-width: 425px) {
  .title {
    margin-bottom: 15px;
    text-align: center;
    h1 {
      font-size: 22px;
      font-weight: 700;
      margin: 0 auto;
    }
  }
}

.btn-wrap {
  display: flex;
}
@media screen and (max-width: 425px) {
  .btn-wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    .btn {
      max-width: 100px;
      font-size: 12px;
    }
    .btn-success {
      margin: 0 15px;
    }
    .btn-dark {
      margin-right: 15px;
    }
  }
}

a {
  font-weight: 100;
  color: var(--light-color);
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.form-control {
  display: block;
  color: var(--dark-color);
  margin-bottom: .8rem;
  &.invalid {
    color: var(--danger-color);
    input {
      border-color: var(--danger-color);
    }
  }
  .validation {
    color: var(--danger-color);
  }
}

.alert {
  color: var(--danger-color);
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 14px;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid var(--gray-color);
}

input[type='submit'],
button {
  font: inherit;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 250px;
  li.active a {
    color: var(--dark-color);
    font-weight: bold;
    cursor: default;
  }
}

@media screen and (max-width: 425px) {
  form {
    label {
      font-size: 14px;
      margin-left: 15px;
    }
    input, .quill {
      max-width: 90%;
      margin: 0 auto;
      font-size: 17px;
    }
    .form-control {
      font-size: 14px;
    }
    .alert {
      p {
        font-size: 16px;
      }
    }
    .validation {
      small {
        font-size: 11px;
      }
    }
  }
}
