@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

:root {
  --danger-color: #dc3545;
  --warning-color: #ffff00;
  --success-color: #28a745;
  --dark-color: #333333;
  --light-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  margin-bottom: 20px;
}

.container {
  max-width: 1439px;
  margin: 0 auto;
  overflow: hidden;
}

.btn {
  background: var(--dark-color);
  color: var(--light-color);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  &:hover {
    opacity: 0.8;
  }
  &:disabled {
    background: var(--light-color);
    color: #111;
    cursor: not-allowed;
  }
}

.btn-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success {
  background: var(--success-color);
  color: #fff;
}

a {
  color: var(--dark-color);
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

