h1 {
  margin-left: 25px;
  font-weight: 300;
}

button {
  margin-right: 25px;
}

@media screen and (max-width: 425px) {
  .back {
    max-width: 90px;
    max-height: 42px;
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  li:first-child {
    margin-left: 5px;
  }
}

@media screen and (max-width: 425px) {
  .link {
    font-size: 14px;
  }
}
