<app-alert></app-alert>

<nav class="navbar">
  <h1>
    <a [routerLink]="['/']">
      Blog
    </a>
  </h1>

  <button *ngIf="!auth.isAuthenticated()"
          class="btn"
          type="button"
          [routerLink]="['/']"
  >
    Вернутся назад
  </button>

  <ul class="nav-menu"
      *ngIf="auth.isAuthenticated()"
  >
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'dashboard']">
        Посты
      </a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'create']">
        Создать
      </a>
    </li>
    <li>
      <a href="#"
         (click)="onLogout($event)"
      >
        Выйти
      </a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
